<form method="get">
    <div class="input-group">
        <div class="form-floating">
            <input class="form-control col-9" id="input--search-query" type="text" name="q" value="{{ query }}" placeholder="vendor/package"/>
            <label for="input--search-query">Enter package or vendor name.</label>
        </div>
        <button type="submit" class="btn btn-outline-primary">
            <i class="bi bi-search"></i>
            Search
        </button>
    </div>
</form>